.fancybox__toolbar {
  padding: 16px;
}

.fancybox__toolbar,
.fancybox__nav {
  --f-button-border-radius: 50%;
  --f-button-bg: rgba(136, 136, 136, 0);
}

.fancybox__backdrop {
  opacity: var(--fancybox-backdrop-opacity, 1);
  background-color: black;
}

.f-carousel__viewport {
  border-radius: 12px;
}

.f-button {
  color: white;
}
